
@font-face {
  font-family: 'OldEnglish';
  src: url('https://fonts.cdnfonts.com/css/old-english-five') format('woff2'),
       url('https://fonts.cdnfonts.com/css/old-english-five') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.cdnfonts.com/css/old-english-five');
